In [ ]:
pip install tabula-py pandas

In [10]:
from openpyxl import load_workbook
from openpyxl.utils import column_index_from_string, get_column_letter
import csv
import pandas as pd

caminho_arquivo = 'arquivo1.xlsx'

workbook = load_workbook(filename=caminho_arquivo)
sheet = workbook.active

In [5]:
#DADOS DO ALUNO

texto_procurado = "NOME DO (A) ALUNO (A)"


coluna = 'D'
coluna_alvo = sheet[f'D']
nomes_encontrados = []
dados_encontrados = []

encontrado = False
for cell in coluna_alvo:
    if cell.value and texto_procurado in str(cell.value):
        # Verifica se a próxima célula na mesma coluna existe e obtém seu valor
        if cell.row < sheet.max_row:
          nome = sheet[f'{coluna}{cell.row + 1}'].value
          forma_ingresso = sheet[f'{"O"}{cell.row + 1}'].value

          if nome not in nomes_encontrados:
            nomes_encontrados.append(nome)
            dados_encontrados.append([nome, forma_ingresso])
          encontrado = True

if not encontrado:
    print("O texto não foi encontrado na coluna especificada.")


# Escrevendo os dados encontrados em um arquivo CSV
data_alunos = 'alunos.csv'

with open(data_alunos, mode='w', newline='', encoding='utf-8') as arquivo_csv:
    writer = csv.writer(arquivo_csv)
    # Cabeçalho do CSV
    writer.writerow(['nome_aluno', 'forma_ingresso'])

    for dados in dados_encontrados:
        writer.writerow(dados)

df = pd.read_csv(data_alunos)
df

                  nome_aluno         forma_ingresso
0          Cecilia Nathanael             VESTIBULAR
1              Natalia Pedro             VESTIBULAR
2            Melissa Vanessa             VESTIBULAR
3          Vanessa Nathanael             VESTIBULAR
4         Caroline Guilherme             VESTIBULAR
5                Arthur Caua             VESTIBULAR
6           Caroline Mariana             VESTIBULAR
7               Hugo Nicolas  TRANSFERENCIA EXTERNA
8            Elisa Valentina             VESTIBULAR
9               Alana Daniel             VESTIBULAR
10            Luciana Felipe             VESTIBULAR
11             Gabriel Bruno             VESTIBULAR
12               Sofia Alice             VESTIBULAR
13            Felipe Eduardo             VESTIBULAR
14              Laura Emilly             VESTIBULAR
15            Lorena Rodrigo             VESTIBULAR
16          Matheus Mauricio             VESTIBULAR
17             Vitoria Alice             VESTIBULAR
18             Maria Manuela             VESTIBULAR
19             Marcelo Laura             VESTIBULAR
20              Luciana Luca             VESTIBULAR
21               Luca Lorena             VESTIBULAR
22             Beatriz Paula             VESTIBULAR
23  DOCENTE(S): -----------.             VESTIBULAR
24             Rafael Amanda             VESTIBULAR
25           Alice Guilherme             VESTIBULAR
26            Sophie Natalia             VESTIBULAR
27              Luiz Manuela             VESTIBULAR
28           Isadora Mariana             VESTIBULAR
29             Paula Michele             VESTIBULAR

In [6]:
#GRADE

import csv
import pandas as pd

texto_procurado = "CÓDIGO"
coluna = 'C'
coluna_alvo = sheet[f'{coluna}']

encontrado = False
codigos_encontrados = []
dados_encontrados = []

for cell in coluna_alvo:
    if cell.value and texto_procurado in str(cell.value):
        linha = cell.row + 2
        curriculo = sheet[f'Z{linha - 10}'].value
        if curriculo == 'SI01':
          curriculo = '1'
        else:
          curriculo = '2'

        while True:
            codigo = sheet[f'{coluna}{linha}'].value
            disciplina = sheet[f'E{linha}'].value
            carga = sheet[f'P{linha}'].value
            credito = sheet[f'S{linha}'].value


            if None not in [codigo, disciplina, carga, credito] and codigo not in codigos_encontrados:
                dados_encontrados.append([codigo, disciplina, carga, credito, curriculo])
                codigos_encontrados.append(codigo)

            linha += 1

            if linha > sheet.max_row or texto_procurado in str(sheet[f'{coluna}{linha}'].value):
                break

        # break

# Escrevendo os dados encontrados em um arquivo CSV
data_grade = 'grade.csv'

with open(data_grade, mode='w', newline='', encoding='utf-8') as arquivo_csv:
    writer = csv.writer(arquivo_csv)
    # Cabeçalho do CSV
    writer.writerow(['cod_disciplina', 'nome_disciplina', 'carga_horaria', 'credito', 'curriculo'])

    for dados in dados_encontrados:
        writer.writerow(dados)

print(f"Os dados foram salvos no arquivo CSV: {data_grade}")

# Lendo o arquivo CSV como um DataFrame do pandas
df = pd.read_csv(data_grade)
df

Os dados foram salvos no arquivo CSV: grade.csv

,cod_disciplina,nome_disciplina,carga_horaria,credito,curriculo
0,OCRQ3517,Storytelling Visual,60,4,1
1,RJGL2456,Design Colaborativo,60,4,1
2,QBWW6998,Computacao Grafica,30,2,1
3,UFMQ0127,Design para Longevidade,60,4,1
4,MKUB0718,Design de Mobiliario,30,2,1
...,...,...,...,...,...
79,GNWI1783,Design de Interface (UI),60,4,2
80,GGRQ0786,Estrategias de Comunicacao,60,4,2
81,FROV6829,Design de Rituais e Cerimonias,60,4,2
82,ANKI1176,Psicologia do Consumidor,60,4,2
83,DOGE5525,Design de Experiencia em Varejo,60,4,2

In [7]:
#HISTORICO

import csv
import pandas as pd

texto_procurado = "NOME DO (A) ALUNO (A)"
texto_divisao = "Curso"
texto_divisao2 = "CH TOTAL DO PERFIL EM HORAS"
coluna = 'D'
linhas_none = 0
coluna_alvo = sheet[f'{coluna}']
encontrado = False
dados_encontrados = []

for cell in coluna_alvo:
    if cell.value and texto_procurado in str(cell.value):
        linha = cell.row + 1
        nome  = sheet[f'{coluna}{linha}'].value
        linha = cell.row + 9

        while True:
            if encontrado:
                while linhas_none <= 20:
                    cell.row = linha
                    cellalvo = sheet[f'{coluna}{linha}'].value
                    if  texto_procurado == cellalvo:
                        linhas_none = 0
                        linha = cell.row + 1
                        nome  = sheet[f'{coluna}{linha}'].value
                        linha = cell.row + 9
                        encontrado = False
                        break
                    elif cellalvo is None:
                        linhas_none += 1
                    linha += 1
            

            codigo     = sheet[f'C{linha}'].value
            disciplina = sheet[f'E{linha}'].value
            nota       = sheet[f'V{linha}'].value
            situacao   = sheet[f'Y{linha}'].value
            
            if disciplina is not None:
                dados_encontrados.append([nome, codigo, disciplina, nota, situacao])            
            linha += 1

            if linha < sheet.max_row:
                if texto_divisao in str(sheet[f'J{linha}'].value) or texto_divisao2 in str(sheet[f'A{linha}'].value):
                    encontrado = True
            else:
                break

        
        
        break


# Escrevendo os dados encontrados em um arquivo CSV
data_grade = 'historico.csv'

with open(data_grade, mode='w', newline='', encoding='utf-8') as arquivo_csv:
    writer = csv.writer(arquivo_csv)
    # Cabeçalho do CSV
    writer.writerow(['nome', 'codigo', 'disciplina', 'nota', 'situacao'])

    for dados in dados_encontrados:
        writer.writerow(dados)

print(f"Os dados foram salvos no arquivo CSV: {data_grade}")

# Lendo o arquivo CSV como um DataFrame do pandas
df = pd.read_csv(data_grade)
df

Os dados foram salvos no arquivo CSV: historico.csv

,nome,codigo,disciplina,nota,situacao
0,Cecilia Nathanael,OCRQ3517,Storytelling Visual,5.32,APROVADO
1,Cecilia Nathanael,RJGL2456,Design Colaborativo,6.8,APROVADO
2,Cecilia Nathanael,QBWW6998,Computacao Grafica,8.0,APROVADO POR MÉDIA
3,Cecilia Nathanael,UFMQ0127,Design para Longevidade,2.63,REPROVADO
4,Cecilia Nathanael,MKUB0718,Design de Mobiliario,NaN,APROVADO POR FREQÜÊNCIA
...,...,...,...,...,...
926,Paula Michele,UFMQ0127,Design para Longevidade,NaN,REPROVADO POR FALTA
927,Paula Michele,MKUB0718,Design de Mobiliario,7.5,APROVADO POR MÉDIA
928,Paula Michele,BKII1063,Design de Visualizacao de Informacoes,NaN,REPROVADO POR FALTA
929,Paula Michele,RJYZ5864,Identidade Visual,2.5,REPROVADO
930,Paula Michele,NaN,DESVINCULADO,NaN,NaN

In [11]:
#STATUS ALUNO

import csv
import pandas as pd

texto_procurado = "NOME DO (A) ALUNO (A)"
texto_divisao = "Curso"
texto_divisao2 = "CH TOTAL DO PERFIL EM HORAS"
coluna = 'D'
linhas_none = 0
coluna_alvo = sheet[f'{coluna}']
encontrado = False
dados_encontrados = []
nomes_encontrados = []

for cell in coluna_alvo:
    if cell.value and texto_procurado in str(cell.value):
        linha = cell.row + 1
        nome  = sheet[f'{coluna}{linha}'].value
        linha = cell.row + 9

        while True:
            if encontrado:
                while linhas_none <= 20:
                    cell.row = linha
                    cellalvo = sheet[f'{coluna}{linha}'].value
                    if  texto_procurado == cellalvo:
                        linhas_none = 0
                        linha = cell.row + 1
                        nome  = sheet[f'{coluna}{linha}'].value
                        linha = cell.row + 9
                        encontrado = False
                        break
                    elif cellalvo is None:
                        linhas_none += 1
                    linha += 1
            
            celula_status = sheet[f'E{linha}'].value
            
            if 'DESLIGAMENTO' == celula_status: 
                status = sheet[f'E{linha}'].value
            
            elif 'DESVINCULADO' == celula_status: 
                status = sheet[f'E{linha}'].value
            
            elif 'REINTEGRAÇÃO' == celula_status: 
                status = sheet[f'E{linha}'].value

            elif 'FORMADO' == celula_status: 
                status = sheet[f'E{linha}'].value
       

            linha += 1

            if linha < sheet.max_row:
                if texto_divisao in str(sheet[f'J{linha}'].value) or texto_divisao2 in str(sheet[f'A{linha}'].value):
                    if nome not in nomes_encontrados:
                        nomes_encontrados.append(nome)
                        dados_encontrados.append([nome, status])
                        ##verificar porque  ta saindo nulo
                        status = 'CURSANDO'
                    encontrado = True
            else:
                break

        
        
        break


# Escrevendo os dados encontrados em um arquivo CSV
data_grade = 'status_aluno.csv'

with open(data_grade, mode='w', newline='', encoding='utf-8') as arquivo_csv:
    writer = csv.writer(arquivo_csv)
    # Cabeçalho do CSV
    writer.writerow(['nome', 'status'])

    for dados in dados_encontrados:
        writer.writerow(dados)

print(f"Os dados foram salvos no arquivo CSV: {data_grade}")

# Lendo o arquivo CSV como um DataFrame do pandas
df = pd.read_csv(data_grade)
df

Os dados foram salvos no arquivo CSV: status_aluno.csv

                        nome        status
0          Cecilia Nathanael  DESVINCULADO
1              Natalia Pedro  REINTEGRAÇÃO
2            Melissa Vanessa      CURSANDO
3          Vanessa Nathanael  DESVINCULADO
4         Caroline Guilherme       FORMADO
5                Arthur Caua  DESVINCULADO
6           Caroline Mariana  DESLIGAMENTO
7               Hugo Nicolas  DESLIGAMENTO
8            Elisa Valentina  DESLIGAMENTO
9               Alana Daniel  DESLIGAMENTO
10            Luciana Felipe  DESVINCULADO
11             Gabriel Bruno       FORMADO
12               Sofia Alice  DESLIGAMENTO
13            Felipe Eduardo  DESVINCULADO
14              Laura Emilly       FORMADO
15            Lorena Rodrigo  DESVINCULADO
16          Matheus Mauricio       FORMADO
17             Vitoria Alice      CURSANDO
18             Maria Manuela      CURSANDO
19             Marcelo Laura  DESVINCULADO
20              Luciana Luca  DESVINCULADO
21               Luca Lorena       FORMADO
22             Beatriz Paula       FORMADO
23  DOCENTE(S): -----------.  DESLIGAMENTO
24             Rafael Amanda  DESLIGAMENTO
25           Alice Guilherme  DESLIGAMENTO
26            Sophie Natalia      CURSANDO
27              Luiz Manuela  DESLIGAMENTO
28           Isadora Mariana  DESVINCULADO
29             Paula Michele  DESVINCULADO

In [9]:
import pandas as pd

# Leitura do arquivo CSV

df = pd.read_csv('grade.csv')

# Filtrar as linhas que contêm informações sobre docentes
docentes_df = df[df['nome_disciplina'].str.contains("DOCENTE\(S\)")]

# Extrair os nomes dos docentes
nomes_docentes = docentes_df['nome_disciplina'].str.extract(r'DOCENTE\(S\):(.+)$')[0].str.strip()

# Verificar e armazenar os nomes únicos em um conjunto (set)
nomes_unicos = set()
for nome in nomes_docentes:
    if nome not in nomes_unicos:
        nomes_unicos.add(nome)

# Exibir os nomes únicos dos docentes
print("Nomes únicos dos docentes:")
print(nomes_unicos)

# Salvar os nomes únicos dos docentes em um arquivo CSV
nomes_unicos_df = pd.DataFrame(list(nomes_unicos), columns=['Nome'])
nomes_unicos_df.to_csv('professores.csv', index=False)
print("Nomes únicos dos docentes salvos em 'nomes_docentes_unicos.csv'")

Nomes únicos dos docentes:
{'Juliana Rodrigues', 'Patricia Nunes', 'Larissa Vieira', 'Marcos Ferreira', 'Gustavo Martins', 'Andre Almeida', 'Joao Silva', 'Pedro Oliveira', 'Carla Souza', 'Ana Costa'}
Nomes únicos dos docentes salvos em 'nomes_docentes_unicos.csv'